*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}
header{
    height: 15%;
    background-color: aquamarine;
    text-align: center;
}

section{
    justify-content: center;
    background-color: rgb(255, 251, 127);
    font-family: Arial, Helvetica, sans-serif;

}

footer{
    height: 10%;
    background-color: crimson;
    text-align: center;
    color: white;
    padding: 20px;
}
#parra{
    background-color: azure;
    font-size: medium;
    text-align: center;
    width: 80%;
}